img {
  height: 150px;
  width: 150px;
  margin: 10px;

  opacity: 0.7;

  border-radius: 10px;
  border: 2px solid lightgray;

  transition: opacity 0.5s;
}
img.loaded {
  opacity: 1;
  border-color: mediumseagreen;
}
img.failed {
  border-color: lightcoral;
  opacity: 1;
}
img.fallback {
  border-color: orange;
  opacity: 1;
}

.hidden {
  display: none !important;
}
